{% extends "base.html" %}

{% block title %}Map{% endblock %}

{% block content %}
<div class="row">
	<div id="map_container"></div>
    <select id="mb-jump-menu" onchange="redisplay_map(this.value);" class="form-control" style="display: block;">
        <optgroup label="Change map">
        <option value="central_met">Central metabolism</option>
        <option value="fatty_beta_ox">Fatty acid beta-oxidation</option>
        <option value="fatty_bios">Fatty acid biosynthesis (saturated)</option>
        <option value="nucleotide_met">Nucleotide metabolism</option>
    </select>

	<script>
        // Set global variable to keep track of flux data.
        window.fluxData = null;

        // When page loaded, show the central metabolism map
        // with the "Central metabolism" selection in the drop-down menu.
        // I could not set the defauld drop-down mentu in html, so I am 
        // changing the selection of the drop-down menu with javascript.
		
        initialize_map("{{ url_for('static', filename='json_files/e_coli.iJO1366.Central_metabolism.json') }}");
        document.getElementById("mb-jump-menu").selectedIndex = 0;

        // When the window is resized, make sure the map is also
        // resized.
        window.onresize = function(event) {
			document.getElementById("left-button-zoom-to-canvas").click();
		};

        // There are 4 maps displayed for E. coli.
        function redisplay_map(selection) {
            if (selection === "central_met") {
                initialize_map("{{ url_for('static', filename='json_files/e_coli.iJO1366.Central_metabolism.json') }}");
            } else if (selection === "fatty_beta_ox") {
                initialize_map("{{ url_for('static', filename='json_files/e_coli.iJO1366.Fatty.acid.beta-oxidation.json') }}");
            } else if (selection === "fatty_bios") {
                initialize_map("{{ url_for('static', filename='json_files/e_coli.iJO1366.Fatty.acid.biosynthesis.saturated.json') }}");
            } else if (selection === "nucleotide_met") {
                initialize_map("{{ url_for('static', filename='json_files/e_coli.iJO1366.Nucleotide_metabolism.json') }}");
            }
        }
    </script>
</div>
{% endblock %}

{% block footer %}
	<div id="map-pt-footer">
		&copy; Copyright 2015, <a target="_blank" href="http://www.pyramidtechnology.com">Pyramid Technology</a>.
		All rights reserved.
	</div>
{% endblock %}