#map_container {
    height: 85%;
    width: 90%;
    position: absolute;
}

#map-pt-footer {
    position: absolute;
    bottom: 10px;
}


/* quick jump menu */
#mb-jump-menu {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 300px;
}

/* Decrease the size of the top menu*/
#menu {
    width: 90px;
}