<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Metabolic Modeling Visualizer</title>

    <!-- Bootstrap css file -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom css file -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" type="text/css" >

    <!-- Escher css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='escher/builder-1.2.0.css') }}"/>

    <!-- d3 js file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

    <!-- mb_map files -->
    <script src="{{ url_for('static', filename='mb_map.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mb_map.css') }}"/>

    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
      
      var productionHost = 'metviz.pyramidtechnology.com'; 

      var devToken = "2176222856";
      var prodToken = "3119079687";

      /* If the hostname is anything other than your production domain, initialize the heap analytics library with your Development Token */

      if (window.location.hostname.toLowerCase().search(productionHost) < 0) {
          heap.load(devToken);
      } else {
          heap.load(prodToken);
      }
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height,
          initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
  </head>

  <body>
    <nav class="navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="pull-left"><img src="{{ url_for('static', filename='images/PT_logo.png') }}" alt="Pyramid Technology" height="40px"></a>
            <a class="navbar-brand" href="{{ url_for('index') }}">Metabolic Modeling Visualizer</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index') }}">Welcome</a></li>
              <li><a href="{{ url_for('map') }}">Map</a></li>
            </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if username %}
          <p class="navbar-btn">
            <a href="{{ url_for('logout') }}" class="btn btn-default">Log Out</a>
          </p>
        </li> 
      {% else %}
        {% if request.path == '/register' %}
        <li>
          <p class="navbar-btn">
            <a href="{{ url_for('login') }}" class="btn btn-default">Log In</a>
          </p>
        </li>
        {% endif %}
        {% if request.path == '/login' %}
        <li>
          <p class="navbar-btn">
            <a href="{{ url_for('register') }}" class="btn btn-default">Sign Up</a>
          </p>
        </li>
        {% endif %}
       <li>
      {% endif %}
      </ul>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
      <footer>
        {% block footer %}
        <hr>
        <div class="text-center">
          &copy; Copyright 2015, <a target="_blank" href="http://www.pyramidtechnology.com">Pyramid Technology</a>.
           All rights reserved.
        </div>
        {% endblock %}
      </footer>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Escher js file -->
    <script src="{{ url_for('static', filename='escher/escher-1.2.0.js') }}"></script>
  </body>
</html>