<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <img src="{{ url_for('static', filename='PT_logo.png') }}" alt="Pyramid Technology" height="40px"/>
        <a class="navbar-brand" href="{{ url_for('index') }}">Metabolic Modeling Visualizer</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index') }}">Welcome</a></li>
              </li>
            </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if username %}
        <li><div>{{ username }} - <a href="{{ url_for('logout') }}">Logout</a></div></li>
      {% endif %}
      </ul>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}

      <div class="col-md-offset-3 col-md-6">
        <hr />
        <footer>
          {% block footer %}
          &copy; Copyright 2015 by <a href="http://www.pyramidtechnology.com">Pyramid Technology</a>
          {% endblock %}
        </footer>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='javascript/jquery-2.1.4.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>